.card {
    flex: 1;
    box-shadow: 8px 0px 32px 0px rgba(0,0,0,0.25);
}

.image {
    position: relative;
    aspect-ratio: 16/9;
}

.image img {
    object-fit: cover;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    background-color: white;
}

.raisedDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}