.checkoutMain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutContent {
    text-align: center;
    color: white;

}

.checkoutMain img {
    object-fit: cover;
    z-index: -1;
}

.checkoutDetails {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    gap: var(--margin);
    flex-wrap: wrap-reverse;
}

.checkoutBg {
    background-color: var(--clr-yellow-medium);   
}

.nameInfo {
    display: flex;
    gap: 20px;
    width: 100%
}

.basicInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    min-width: 200px;
}


.forms, .orderSummary {
    flex: 1;
}

.orderSummary {
    padding: 20px;
    box-shadow: 8px 0px 32px rgba(0,0,0,0.25);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.tabSelect {
    display: flex;
    width: 100%;
    position: relative;
    background-color: var(--clr-yellow-medium);
}

.tabSelect a {
    padding: 10px 20px;
    flex: 1;
    text-align: center;
    z-index: 1;
}

.tabSelect a, .currentBg {
    transition: all 300ms ease-out;
}

.currentBg {
    position: absolute;
    width: 33%;
    height: 100%;
    z-index: 0;
    background-color: var(--clr-yellow-darkest);
}

.orderItems {
    display: grid;
    flex-direction: column;
    gap: 10px;
    grid-template-columns: auto 100px 75px;
}

.orderItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counterP {
    display: grid;
    grid-template-columns: auto auto;
}

.left {
    left: 0;
}

.center {
    left: 33%;
}

.right {
    left: 67%;
}

.current {
    color: white;
}

.navigators {
    display: flex;
    gap: 20px;
}

.basicInfo h6 {
    color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 450px) {
    .tabSelect {
        flex-direction: column;
    }

    .currentBg {
        width: 100%;
        height: 33%;
    }

    .left, .center, .right {
        left: 0 !important;
    }

    .left {
        top: 0;
    }
    .center {
        top: 33%;
    }
    .right {
        top: 67%;
    }

    .nameInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .orderItems {
        grid-template-columns: auto 100px 50px;
    }
}