.storeMain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeMain img {
    object-fit: cover;
    z-index: -1;
}

.storeContent {
    color: white;
    text-align: center;
}

.items h2 {
    margin: 2rem 0rem;
}

.itemGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 35px;
    row-gap: 15px;
}

@media screen and (max-width: 800px) {
    .itemGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 540px) {
    .itemGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}