.aboutMain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMain img {
    object-fit: cover;
    z-index: -1;
}

.mainContent {
    color: white;
    text-align: center;
}

.vision {
    display: flex;
    align-items: stretch;
    gap: 40px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}


.reason{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vision h2 {
    flex: 2;
    text-align: center;
    margin: auto 0;
}
.reason h6 {
    color: var(--clr-green-dark);
}
.goals h2 {
    margin: 4rem 0rem;
}


.goalCards {
    display: flex;
    gap: 40px;
}

.donate {
    position: relative;
}

.donateBg {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: calc(100% + 3rem);
    top: -3rem;
    background-color: var(--clr-green-light);
}

.donateContent {
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: flex;
    gap: 40px;
}

.donateText {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}


.accomplishments {
    height: 300vh;
    position: relative;
    background-color: var(--clr-yellow-medium);
}

.accomplishments h2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}
.allAccs {
    display: flex;
}

.accContent {
    height: 100vh;
    position: sticky;
    overflow-x: hidden;
    top: 60px;
}