.newsletter {
    display: flex;
    align-items: stretch;
    gap: var(--margin);
    padding-top: 4rem;
    padding-bottom: 5rem;
}


@media screen and (max-width: 800px) {
    .newsletter {
        flex-direction: column;
    }
}

.newsletterContainer {
    position: relative;
}
.newsletterBg {
    position: absolute;
    width: 100%;
    height: calc(100% + 3rem);
    background-color: var(--clr-green-light);
    z-index: -1;
    top: -3rem;
}

.nameInputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.newsletterText, .newsletterForm {
    flex: 1;
}

.newsletterText {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.newsletterForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
@media screen and (max-width: 400px) {
    .nameInputs {
        flex-direction: column;
    }
}