.accomplishment {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accContent {
    display: flex;
    max-width: 1000px;
    background-color: var(--clr-yellow-light);
    margin: auto 0;
    margin: 0px var(--margin) 32px var(--margin);
}

.img {
    position: relative;
    flex: 1;
    aspect-ratio: 2/3;
}


.img img {
    object-fit: cover;
}



.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .accContent {
        flex-direction: column;
    }

    .img {
        width: 100%;
        aspect-ratio: 3/2;
    }

    .text {
        width: 100%;
    }
}