.input {
    outline: none;
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-inter);
    outline: 3px solid white;
    outline-offset: -3px;
    box-sizing: border-box;
    transition: all 200ms ease-out;
}

.input:focus {
    outline: 3px solid var(--clr-yellow-dark);
    outline-offset: -3px;
}