.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.heroImg {
    object-fit: cover;
    z-index: -1;
    box-sizing: border-box;
}

.whatWeDo {
    max-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.whatWeDo h2, .news h2 {
    margin: 4rem 0rem;
}

.actionCards {
    margin-top: 2rem;
    display: flex;
    gap: 40px;
}

.newsCards {
    display: flex;
    gap: 40px;
}

.heroText {
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.snapScrollContainer {
    scroll-snap-type:  y mandatory;
    overflow-y: scroll;
    margin: 0;
    height: 100vh
}


@media screen and (max-width: 420px) {
    .heroSection {
        padding: 20px;
    }

    .heroText {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .actionCards {
        overflow-x: scroll;
    }
}

