.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.heroImg {
    object-fit: cover;
    z-index: -1;
}

.whatWeDo {
    width: 100%;
    box-sizing: border-box;
}

.whatWeDo h2, .news h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.heroText {
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.snapScrollContainer {
    scroll-snap-type:  y mandatory;
    overflow-y: scroll;
    margin: 0;
    height: 100vh
}

@media screen and (max-width: 900px) {
    .actionCards {
        grid-template-columns: auto auto;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 575px) {
    .actionCards {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 420px) {
    .heroSection {
        padding: 20px;
    }

    .heroText {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

