.navLinks {
    display: flex;
    gap: 40px;
    align-items: baseline;
}

.navbar a, .navbar a h5 {
    color: inherit;
    text-decoration: none;
}

.navbarContent {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    padding: 20px 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.scrolled {
    background-color: white;
    color: black !important;
    padding: 10px 0px;
    box-shadow: 8px 0px 32px 0px rgba(0,0,0,0.25);
}
.scrolled .navbarContent {
    color: black !important;
}

.navbar, .navbar a, .navbar a h5 {
    transition: all 300ms ease-out;
}