.navLinks {
    display: flex;
    gap: var(--margin);
    align-items: center;
}
.hide {
    max-height: 0px !important;
    overflow: hidden;
}


.navbar a, .navbar a h5 {
    color: inherit;
    text-decoration: none;
}

.navbarContentDesktop {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--margin);
}

.navbarContentMobile {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.scrolled {
    background-color: white;
    color: black !important;
    box-shadow: 8px 0px 32px 0px rgba(0,0,0,0.25);
}
.scrolled .navbarContentDesktop {
    color: black !important;
    padding: 10px var(--margin);
}

.scrolled .navbarContentMobile {
    color: black !important;
    padding: 10px var(--margin);
}


.navbar * {
    transition: all 300ms ease-out; 
}

.galaPopup {
    background-color: var(--clr-yellow-medium);
    max-height: 300px;
    transition: all 300ms ease-in-out;
}

.galaText {
    display: flex;
    justify-content: space-between;
    padding: 10px var(--margin);
    align-items: center;
}

.galaText svg:hover {
    cursor: pointer;
}

.items {
    position: absolute;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    z-index: 5;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--clr-yellow-medium);
    color: black !important;

}

.aside {
    display: none;
}

@media screen and (max-width: 900px) {
    .navbarContentDesktop {
        display: none;
    }

    .navbarContentMobile {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 20px var(--margin);
    }

    .aside {
        background-color: white;
        width: 9rem;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        right: 0;
        top: 0;
        box-shadow: 0px -8px 32px rgba(0, 0, 0, 0.25);
      }
      
      .container {
        position: relative;
        top: 50px;
        margin: 4.5rem 1.4rem;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: right;
      }

      .container div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      
      .btnContainer {
        position: fixed;
        z-index: 12;
        right: 25px;
      }

      .btnContainer div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      .container a {
        color: black;
        text-decoration: none;
        text-align: right;
      }

      .toggler {
        z-index: 12;
        border: 1px solid red;
      }
}