.navLinks {
    display: flex;
    gap: 40px;
    align-items: baseline;
}

.navbar a, .navbar a h5 {
    color: white;
    text-decoration: none;
    
}

.navbarContent {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar {
    position: absolute;
    z-index: 3;
    padding: 20px 35px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbarScroll {
    position: absolute;
    z-index: 3;
    padding: 20px 35px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    color: black !important;
}