.primary, .secondary {
    display: inline-flex;
    padding: 10px 20px;
    box-sizing: border-box;
}

.primary {
    border: 3px solid var(--clr-green-medium);
    color: var(--clr-green-medium) !important;
    transition: all 300ms ease-in-out;
}

.secondary {
    border: 3px solid var(--clr-yellow-medium);
    color: var(--clr-yellow-medium) !important;
    transition: all 300ms ease-in-out;
}

.primary:hover {
    background-color: var(--clr-green-medium);
    color: var(--clr-yellow-medium) !important;
}

.secondary:hover {
    background-color: var(--clr-yellow-medium);
    color: var(--clr-green-medium) !important;
}

.primary a, .secondary a {
    color: inherit !important;
}