.partners {
    display: flex;
    align-items: stretch;
    gap: var(--margin);
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.partnerContainer {
    position: relative;
}
.partnerBg {
    position: absolute;
    width: 100%;
    height: calc(100% + 3rem);
    background-color: var(--clr-green-light);
    z-index: -5;
    top: -3rem;
}

.partnerText, .partnersIcons {
    flex: 1;
}

.partnerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.partnersIcons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin) var(--margin);
    align-content: flex-start;
}

@media screen and (max-width: 800px) {
    .partners {
        flex-direction: column-reverse;
    }
}