.card {
    flex: 1;
    aspect-ratio: 2/3;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 8px 0px 32px 0px rgba(0,0,0,0.25);
}

.card h3{
    line-height: 100%;
}

.caption {
    color: rgba(255, 255, 255, 0.7) !important;
}

.cardContent {
    width: 100%;
    color: var(--clr-yellow-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;   
}

.bgImg {
    z-index: -1;
    object-fit: cover;
}