

.wrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 32px 0px;
    box-sizing: border-box;
}


.container {
    display: flex;
    gap: var(--margin);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px var(--margin);
    box-sizing: border-box;
}