.card {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    box-shadow: 8px 0px 32px rgba(0,0,0,0.25);
    min-width: 260px;
}

.card img {
    object-fit: cover;
    z-index: -1;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: var(--clr-yellow-medium);
}

.text {
    color: white;
}

.dataLabel {
    color: white;
}


.icon {
    width: clamp(50px, 7vw, 70px);
    height: clamp(50px, 7vw, 70px);
}