.donateMain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateMain img {
    object-fit: cover;
    z-index: -1;
}

.mainContent {
    color: white;
    text-align: center;
}


.directDonations h2 {
    padding: 2rem 0rem;
}

.directDonations > h6 {
    padding-bottom: 2rem;
}

.programs {
    display: flex;
    flex-direction: row;
    gap: var(--margin);
}

.differenceContainer {
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: calc(100% + 3rem);
    background-color: var(--clr-green-light);
    z-index: -5;
    top: -3rem;
}

.difference {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: var(--margin);
}

.donate {
    background-color: white;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 8px 0px 32px rgba(0,0,0,0.25);
}

.vision {
    display: flex;
    align-items: stretch;
    gap: var(--margin);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.vision h2 {
    margin: auto 0;
}
.impact  {
    background-color: var(--clr-yellow-medium);
}


.dataPoint {
    color: var(--clr-green-medium);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.reason{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--clr-green-medium);
}


.tabSelect {
    width: 100%;
    display: flex;
    background-color: var(--clr-green-lightest);
    position: relative;   
}

.tab {
    padding: 10px 20px;
    text-align: center;
    flex: 1;
    transition: all 300ms ease-out;
    z-index: 1;
    color: var(--clr-green-medium);
}

.tabBg {
    background-color: var(--clr-green-medium);
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    z-index: 0;
    transition: all 300ms ease-out;
}

.active {
    color: var(--clr-green-lightest) !important;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.donationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.donationForm input {
    outline: 3px solid var(--clr-green-lightest);
    padding: 10px 20px;
    flex: 1;
    outline-offset: -3px;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 700;
    color: var(--clr-green-medium);
    background-color: var(--clr-green-lightest);
    transition: all 300ms ease-out;
    position: relative;
}

.donationForm input:focus {
    outline: 3px solid var(--clr-green-light)
}


.defaults {
    display: flex;
    gap: 10px;
}

.donationAmount {
    flex: 1;
    padding: 10px 20px;
    background-color: var(--clr-green-lightest);
    color: var(--clr-green-medium);
}

.statData {
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: var(--clr-green-medium);
}
.stat {
    max-width: 200px;
}
.stats {
    display: flex;
    justify-content: space-between;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 4rem;
}

.header h2 {
    line-height: 100%;
}

.header p {
    color: var(--clr-grey-3);
}

.adoptAnAnimal {
    padding-top: 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .vision {
        flex-direction: column;
        align-items: center;
    }

    .reason {
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .difference {
        flex-direction: column;
    }

    .data {
        gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .stats {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }
    .stat {
        max-width: unset;
    }
}