.donateMain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateMain img {
    object-fit: cover;
    z-index: -1;
}

.mainContent {
    color: white;
    text-align: center;
}

.visionContainer {
    background-color: var(--clr-yellow-medium);
    width: 100vw;
    box-sizing: border-box;
}

.vision {
    display: flex;
    align-items: stretch;
    gap: 40px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    background-color: none;
}


.reason{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vision h2 {
    flex: 2;
    text-align: center;
    margin: auto 0;
    line-height: 100%;
}

.reason h6 {
    color: var(--clr-green-dark);
    display: flex;
    align-items: center;
}

.reason a {
    text-decoration:  none;
}

.directDonations h2 {
    padding: 2rem 0rem;
}

.programs {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.differenceContainer {
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: calc(100% + 3rem);
    background-color: var(--clr-green-light);
    z-index: -5;
    top: -3rem;
}

.difference div h2 {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
}

.donate {
    background-color: white;
    flex: 1;
}