.card {
    background-color: white;
    min-width: 250px;
    flex: 1;
}

.image {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--clr-yellow-medium);
}

.imageContainer {
    position: relative;
    box-sizing: border-box ;
    aspect-ratio: 16/9;
}

.imageContainer img {
    object-fit: contain;
}

.cardContent {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
}