.option {
    padding: 10px 20px;
    background-color: white;
    flex: 1;   
}

.options {
    display: flex;
    gap: 10px;
    width: 100%;
}


.tabSelect, .donationForm input, .donationAmount  {
    background-color: var(--clr-green-lightest);
} 

.whiteBg .tabSelect, .whiteBg .donationForm input, .whiteBg .donationAmount {
    background-color: white;
}
.tabSelect {
    width: 100%;
    display: flex;
    position: relative;   
}

.tab {
    padding: 10px 20px;
    text-align: center;
    flex: 1;
    transition: all 300ms ease-out;
    z-index: 1;
    color: var(--clr-green-medium);
}

.tabBg {
    background-color: var(--clr-green-medium);
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    z-index: 0;
    transition: all 300ms ease-out;
}

.active {
    color: var(--clr-green-lightest) !important;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.donationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.donationForm input {
    outline: 3px solid var(--clr-green-lightest);
    padding: 10px 20px;
    flex: 1;
    outline-offset: -3px;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 700;
    color: var(--clr-green-medium);
    transition: all 300ms ease-out;
    position: relative;
}

.donationForm input:focus {
    outline: 3px solid var(--clr-green-light)
}


.donationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.donationAmount {
    flex: 1;
    padding: 10px 20px;
    color: var(--clr-green-medium);
    transition: all 300ms ease-out;
}


.defaults {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

.chosen {
    background-color: var(--clr-green-medium) !important;
    color: var(--clr-green-lightest);
}